.tabs ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.tab {
  cursor: pointer;
  padding: 10px 20px;
  margin-right: 10px;
  background-color: #f0f0f0;
  border-radius: 5px;
}

.tab:hover {
  background-color: #e0e0e0;
}

.tab.active {
  background-color: #ccc;
}

.tab-content {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 10px;
}